# Configuration file for CFlashDriver.
#
# CFlashDriver is an interface towards ST-Ericssons
# camera implementation.
#
# This file contains settings the the STE camera is higly dependant
# upon.
#
# *** Available flashmodes: ***
# XENON				Enables xenon drv.Strobe managed by lm3561 drv.
# XENON_EXTERNAL_STROBE		Enables xenon drv.Strobe managed externally.
# VIDEO_LED			Enables the video led driver. Strobing is managed by the driver
# VIDEO_LED_EXTERNAL_STROBE     Enables video led driver. Strobing is managed externally to driver.
# FLASH_MODE_STILL_LED		Enables the still LED driver. Strobing is managed by the driver.
# STILL_LED_EXTERNAL_STROBE	Enables the still LED driver. Strobe is managed externally to driver.
# AF_ASSISTANT			Enables the AF assistant driver. Strobe is managed by the driver.
# INDICATOR                     Enable the driver. Strobe is managed by the driver.
# STILL_HPLED                   Enables the still HP LED driver. Strobing is managed by the driver.
# HPLED_EXTERNAL_STROBE         Enables the still HP LED driver. Strobe is managed externally to
#				the driver.
#
# *** Available Cameramodes ***
# Primary, Secondary
#
# The parameters and in case of boolean values, everything is highly
# case sensitive. This means the True and true are two different value.
# For those who wonder, the accespted values are "true" and "false".
# The parser does handle duplicate entries in a way that only the first
# entry of the same type is used.
#
# *** Parameter setting begin here ***
#
FlashDriverType = VIDEO_LED
MinIntensity = 18
MaxIntensity = 149
MaxStrobeDuration = 1024000
IsIntensityProgrammable = true
IsDurationProgrammable = true
IsTimeoutProgrammable = true
SupportedCamera = Primary
Duration = 0
Intensity = 100
Timeout = 0

FlashDriverType = VIDEO_LED_EXTERNAL_STROBE
MinIntensity = 18
MaxIntensity = 149
MaxStrobeDuration = 1024000
IsIntensityProgrammable = true
IsDurationProgrammable = true
IsTimeoutProgrammable = true
SupportedCamera = Primary
Duration = 0
Intensity = 100
Timeout = 0

FlashDriverType = STILL_LED
MinIntensity = 36
MaxIntensity = 600
MaxStrobeDuration = 1024000
IsIntensityProgrammable = true
IsDurationProgrammable = true
IsTimeoutProgrammable = true
SupportedCamera = Primary
Duration = 1024000
Intensity = 100
Timeout = 1024000

FlashDriverType = STILL_LED_EXTERNAL_STROBE
MinIntensity = 36
MaxIntensity = 600
MaxStrobeDuration = 1024000
IsIntensityProgrammable = true
IsDurationProgrammable = true
IsTimeoutProgrammable = true
SupportedCamera = Primary
Duration = 1024000
Intensity = 100
Timeout = 1024000

FlashDriverType = AF_ASSISTANT
MinIntensity = 18
MaxIntensity = 149
MaxStrobeDuration = 1024000
IsIntensityProgrammable = true
IsDurationProgrammable = true
IsTimeoutProgrammable = true
SupportedCamera = Primary
Duration = 0
Intensity = 100
Timeout = 0

FlashDriverType = AF_ASSISTANT
MinIntensity = 18
MaxIntensity = 149
MaxStrobeDuration = 1024000
IsIntensityProgrammable = false
IsDurationProgrammable = false
IsTimeoutProgrammable = false
SupportedCamera = Secondary
Duration = 0
Intensity = 100
Timeout = 0
